<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="FacturaConexion"
         connectionString="Data Source=DESKTOP-C23CS6B\SQLEXPRESS;Initial Catalog = Soporte; Integrated Security = True;" providerName="System.Data.SqlClient"/>
    
    
  </connectionStrings>
  
  
</configuration>